<nav class="navbar main-header navbar-expand-lg navbar-light bg-info  ">
  <div class="container-fluid">
    {{!-- left --}}
    <div class="left d-flex align-items-end ">
      <div class="navbar-brand">
        <a class="navbar-brand text-white d-flex align-items-center " href="/">
          <img src="/images/pokeball.png" class="me-3  " alt="Icon" width="34" height="34">
          PoGo Accounts Sale</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <span class="index-vice-title ">{{lang.headerViceTitle}}</span>
      </div>

    </div>
    {{!-- middle --}}
    <div class="middle">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {{!-- <li class="nav-item">
            <a class="nav-link" href="/accounts/detailTemp">Temp detail</a>
          </li> --}}
          <li class="nav-item">
            <a class="nav-link {{#ifCond activeRoute 'home'}} active {{/ifCond}}" aria-current="page"
              href="/">{{lang.headerHome}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{#ifCond activeRoute 'accounts'}} active {{/ifCond}}"
              href="/accounts">{{lang.headerBuyAccounts}}</a>
          </li>

          <li class="nav-item">
            {{!-- <a class="nav-link {{#ifCond activeRoute 'contact'}} active {{/ifCond}} "
              href="/contact">{{lang.headerContact}}</a> --}}
            {{!-- <button id="chat-icon">{{lang.headerContact}}</button> --}}
          </li>

          <li class="nav-item">
            <a class="nav-link {{#ifCond activeRoute 'feedback'}} active {{/ifCond}}"
              href="/feedback">{{lang.headerFeedback}}</a>
          </li>

          <button type="button" class="btn btn-sm btn-rounded"
            style="font-weight: 400; font-size:26px; color:rgb(60, 164, 164)" data-bs-toggle="modal"
            data-bs-target="#searchModal">
            <img class="me-0" src="/images/someIcon/search.png" style="transform: scale(1.15);" alt="search button">
            <span class="ms-0">{{lang.headerSearch}}</span>
          </button>

        </ul>
      </div>
    </div>

    {{#if user.isAdmin}}
    <a href="/admin/accounts" class="bg-light">Admin Edit</a>

    <a href="/admin/chatbox" class="bg-light">Admin Chat</a>
    {{/if}}
    {{!--right --}}
    <div class="right">

      {{!-- language & currency --}}
      <div class="LandC">
        <div class="btn-group">
          <button class="btn btn-secondary btn-sm dropdown-toggle mb-1" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">

            {{#ifCond lang.name 'en-US' }}
            Engish
            {{else}}
            中文
            {{/ifCond}}
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/change-lang/zh-TW">中文</a></li>
            <li><a class="dropdown-item" href="/change-lang/en-US">English</a></li>
          </ul>
        </div>
      </div>



      {{!-- auth --}}
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item me-2">
            {{#if isAuthenticated}}
            <a class="nav-link btn btn-dark" href="/users/logout">{{lang.headerLogout}}</a>
            {{else}}
            <a class="nav-link btn btn-primary" href="/users/login">{{lang.headerLogin}}</a>
            {{/if}}


          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-success" href="/users/register">{{lang.headerRegister}}</a>
          </li>
        </ul>
      </div>

    </div>

    {{!-- 不用加 public --}}
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/style.css">

  </div>
</nav>

{{!-- second small navbar --}}
<nav class="navbar navbar-expand-sm bg-light p-0 d-flex justify-content-between">
  {{!-- left promocode --}}

  <div class="ms-2">
    <span style="font-weight: 1000; color:aqua">{{#if user.name}} Hi {{user.name}}! What's up! {{/if}}</span>
    <span>promocode:</span>
  </div>

  {{!-- right cart --}}
  <div class="me-5">
    <a href="/cart">
      <img src="/images/someIcon/cart.png" alt="">
    </a>

  </div>

</nav>

{{> message}}