<nav class="navbar main-header navbar-expand-lg navbar-light bg-info  ">
  <div class="container-fluid">
    {{!-- left --}}
    <div class="left">
      <div class="navbar-brand">
        <a class="navbar-brand d-flex align-items-end" href="/">
          <img src="/images/pokeball.png" class="me-3" alt="Icon" width="34" height="34">
          <div class="mb-2">
            <h1 class="index-vice-title">{{lang.headerViceTitle}}</h1>
            <span class="title-description position-absolute">PoGo Accounts Sale</span>
          </div>
        </a>
        {{!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> --}}
      </div>
    </div>
    {{!-- middle --}}
    <div class="middle">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {{!-- <li class="nav-item">
            <a class="nav-link" href="/accounts/detailTemp">Temp detail</a>
          </li> --}}
          <li class="nav-item">
            <a class="nav-link {{#ifCond activeRoute 'home'}} active {{/ifCond}}" aria-current="page"
              href="/">{{lang.headerHome}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{#ifCond activeRoute 'accounts'}} active {{/ifCond}}"
              href="/accounts">{{lang.headerBuyAccounts}}</a>
          </li>

          <li class="nav-item">
            {{!-- <a class="nav-link {{#ifCond activeRoute 'contact'}} active {{/ifCond}} "
              href="/contact">{{lang.headerContact}}</a> --}}
            {{!-- <button id="chat-icon">{{lang.headerContact}}</button> --}}
          </li>

          <li class="nav-item">
            <a class="nav-link {{#ifCond activeRoute 'feedback'}} active {{/ifCond}}"
              href="/feedback">{{lang.headerFeedback}}</a>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-sm nav-link data-search-btn" data-bs-toggle="modal"
              data-bs-target="#searchModal">
              <i class="fa-solid fa-magnifying-glass"></i>
              <span class="ms-0">{{lang.headerSearch}}</span>
            </button>

          </li>
        </ul>
      </div>
    </div>

    {{#if user.isAdmin}}
    <a href="/admin/accounts" class="bg-light">Admin Edit</a>

    <a href="/admin/chatbox" class="bg-light">Admin Chat</a>
    {{/if}}
    {{!--right --}}
    <div class="right">

      {{!-- auth --}}
      {{!-- <div class="collapse navbar-collapse" id="navbarNav"> --}}
        <ul class="navbar-nav">
          {{!-- language & currency --}}
          <li class="nav-item">
            {{!-- <span>{{lang.name}}</span> --}}
            <div class="switch-field">
              <input type="radio" id="radio-en" name="switch-one" value="en" {{#ifCond lang.name 'en-US' }} checked
                {{/ifCond}} />
              <label for="radio-en">En</label>
              <input type="radio" id="radio-zh" name="switch-one" value="zh" {{#ifCond lang.name 'zh-TW'
                }}checked{{/ifCond}} />
              <label for="radio-zh">中</label>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
              aria-expanded="false"><i class="fa-solid fa-user"></i></a>
            <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
              {{!-- <li><a class="dropdown-item" href="#">Action</a></li> --}}
              <li class="me-2">
                {{#if isAuthenticated}}
                <a class="nav-link dropdown-item" href="/users/logout">{{lang.headerLogout}}</a>
                {{else}}
                <a class="nav-link dropdown-item" href="/users/login">{{lang.headerLogin}}</a>
                {{/if}}
              </li>
              <li>
                <a class="nav-link dropdown-item " href="/users/register">{{lang.headerRegister}}</a>
              </li>
            </ul>
          </li>
        </ul>
        {{!--
      </div> --}}


      {{!-- <div>
        <div class="btn-group">
          <button class="btn btn-secondary btn-sm dropdown-toggle mb-1" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{#ifCond lang.name 'en-US' }}
            Engish
            {{else}}
            中文
            {{/ifCond}}
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/change-lang/zh-TW">中文</a></li>
            <li><a class="dropdown-item" href="/change-lang/en-US">English</a></li>
          </ul>
        </div>
      </div>
    </div> --}}

    {{!-- 不用加 public --}}
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/style.css">

  </div>
</nav>

{{!-- second small navbar --}}
<nav class="navbar navbar-expand-sm bg-light p-0 d-flex justify-content-between">
  {{!-- left promocode --}}

  <div class="ms-2">
    <span style="font-weight: 500; color:aqua;font-size:large">
      {{#if user.name}}
      Hi {{user.name}}！ {{currentMonth}}月感恩回饋來囉，全場帳號皆享
      ９ 折優惠．
      <br>
      驗證信箱後，告知客服您的註冊信箱，即可在結帳時享有此優惠．
      <br>
      購買多個帳號或老顧客回鍋，再享額外折扣，買越多折越多！！！

      {{else}}
      {{currentMonth}}月感恩回饋，註冊登入後，馬上獲得專屬優惠！！！
      {{/if}}</span>
    {{!-- <span>promocode:</span> --}}
  </div>

  {{!-- right cart --}}
  <div class="me-5">
    <a href="/cart">
      <img src="/images/someIcon/cart.png" alt="">
    </a>

  </div>

</nav>

{{> message}}