<!--search account modal -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="searchModalLabel">{{lang.searchTitle}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{!-- form start here --}}
        <form action="/accounts/search" method="post">
          {{!-- the account be edited --}}
          <div class="container">
            {{!-- this.id 方便辨認用 --}}
            <div class="mb-3 d-flex">
              {{!-- <span>辨認用Id： </span> --}}
            </div>
            {{!-- acct id --}}
            <div class="mb-3 d-flex  ">
              <label for="accountId"
                class="form-label-sm form-control-sm inline-flex  w-25 me-2">{{lang.searchAccountId}}:</label>
              <input type="text" class="form-control-sm inline-flex w-75" value="{{searchedAccountId}}" id="accountId"
                name="accountId" placeholder="{{lang.searchAccountIdPlaceHolder}}">
            </div>
            {{!-- team --}}
            <div class="mb-3 d-flex">
              <div class="d-flex w-25 me-2">
                <label for="selectAllTeam"
                  class="form-label-sm form-control-sm inline-flex me-5  ">{{lang.searchTeam}}:</label>
              </div>
              <div class="w-75 d-flex">
                <div class="mx-1">
                  {{!-- 有name="team" 才讀到checkbox是否勾選，而勾選時代表的值，由value決定 --}}
                  <input type="checkbox" id="selectAllTeam" name="team" {{#arrayCount searchedTeam 5 }} checked
                    {{/arrayCount}}>
                  <label for="selectAllTeam">Select All</label>
                </div>
                <div class="mx-1">
                  <input type="checkbox" value="red" name="team" id="red" {{#ifInclude2 searchedTeam 'red' }} checked
                    {{/ifInclude2}}>
                  <label for="red">Red</label>
                </div>
                <div class="mx-1">
                  <input type="checkbox" value="blue" name="team" id="blue" {{#ifInclude2 searchedTeam 'blue' }} checked
                    {{/ifInclude2}}>
                  <label for="blue">Blue</label>
                </div>
                <div class="mx-1">
                  <input type="checkbox" value="yellow" name="team" id="yellow" {{#ifInclude2 searchedTeam 'yellow' }}
                    checked {{/ifInclude2}}>
                  <label for="yellow">Yellow</label>
                </div>
                <div class="mx-1">
                  <input type="checkbox" value="yet" name="team" id="yet" {{#ifInclude2 searchedTeam 'yet' }} checked
                    {{/ifInclude2}}>
                  <label for="yet">Yet</label>
                </div>
              </div>
            </div>

            {{!-- level --}}
            <div class="mb-3 d-flex">
              <label for="level"
                class="form-label-sm form-control-sm inline-flex w-25 me-2">{{lang.searchLevel}}:</label>
              <select class="form-select form-select-sm inline-flex w-75 " name="level" id="level">
                {{#each options }}
                {{!-- 記得包在回圈內的 非this變數要../ --}}
                <option class="" value="{{this}}" {{#ifCond this ../searchedLevel}} selected {{/ifCond}}>{{this}}
                </option>
                {{/each}}
              </select>
            </div>
            {{!-- stardust --}}
            <div class="mb-3 d-flex">
              <label for="stardust" class="form-label-sm form-control-sm inline-flex w-25 me-2">{{lang.searchStardust}}:
                <br>{{lang.searchUnit}}
              </label>
              <input type="text" class="form-control-sm inline-flex w-75" value="{{this.searchUnit}}" name="stardust"
                id="stardust" placeholder="{{lang.searchStardustPlaceHolder}}">
            </div>

            {{!-- price --}}
            <div class="mb-3 d-flex">
              <div class="w-25 me-2">
                <label for="selectAllPrice" class="form-label-sm form-control-sm inline-flex me-0">{{lang.searchPrice}}:
                  <br>{{lang.searchCurrency}} : NT
                </label>
              </div>
              <div class="w-75 d-flex">
                <div class="w-50">
                  <div>
                    <input type="checkbox" name="price" id="selectAllPrice" {{#arrayCount searchedPriceRange 6}} checked
                      {{/arrayCount}}>
                    <label for="selectAllPrice">Select All</label>
                  </div>
                  <div>
                    <input type="checkbox" value="0to1k" name="price" id="0to1k" {{#ifInclude2
                      searchedPriceRange '0to1k' }} checked {{/ifInclude2}}>
                    <label for="0to1k">0~1k</label>
                  </div>
                  <div>
                    <input type="checkbox" value="0to2k" name="price" id="0to2k" {{#ifInclude2
                      searchedPriceRange '0to2k' }} checked {{/ifInclude2}}>
                    <label for="0to2k">0~2k</label>
                  </div>
                </div>
                <div class="w-50">
                  <div>
                    <input type="checkbox" value="2kto4k" name="price" id="2kto4k" {{#ifInclude2
                      searchedPriceRange '2kto4k' }} checked {{/ifInclude2}}>
                    <label for="2kto4k">2k~4k</label>
                  </div>
                  <div>
                    <input type="checkbox" value="4kto6k" name="price" id="4kto6k" {{#ifInclude2
                      searchedPriceRange '4kto6k' }} checked {{/ifInclude2}}>
                    <label for="4kto6k">4k~6k</label>
                  </div>
                  <div>
                    <input type="checkbox" value="6kUp" name="price" id="6kUp" {{#ifInclude2 searchedPriceRange '6kUp'
                      }} checked {{/ifInclude2}}>
                    <label for="6kUp">6kUp</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{!-- contains pokemons --}}
          <div class="mb-3 d-flex">
            <label for="searchedPokemons" class="form-label-sm form-control-sm inline-flex  w-25 me-2">
              {{lang.searchPokemons}}:
              <br>
            </label>
            <textarea class="form-control-sm inline-flex w-75" name="searchedPokemons" id="searchedPokemons" cols="40"
              rows="7" placeholder={{lang.searchPokemonsPlaceHolder}}>{{searchedPokemons}}</textarea>


          </div>
          {{!-- legend pokemons --}}
          {{!-- <div class="mb-3 d-flex">
            <label for="contentsLegend" class="form-label-sm form-control-sm inline-flex me-5">ContentsLegend:</label>
            <textarea class="form-control-sm inline-flex" name="contentsLegend" id="contentsLegend" cols="40"
              rows="7">{{this.contentsLegend}}</textarea>
          </div> --}}


          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Search</button>

      </div>

      </form>

    </div>

  </div>
</div>
</div>