{{!-- UP --}}

<div class="up-container row mt-3">
  {{!-- L: slogan/description/browse all R: meow image --}}
  {{!-- L --}}
  <div class="upLeft row col-md-9 ms-2 d-flex justify-content-center">
    <span>{{lang.indexGreeting}}</span>
    <span class="text-success indexSlogan"><b>{{lang.indexSlogan}}</span></b>
    {{#each lang.indexIntro1}}
    <span>{{this}}</span> <br>
    {{/each}}

    <div class="span-container">
      <span class="indented-text">

        <div class="good-record">
          <div>
            <img src="/images/info/record8591{{lang.indexImg}}.jpg" alt="">
          </div>
          <div>
            {{#each lang.indexIntro2}}
            <span>{{this}}</span> <br>
            {{/each}}
          </div>
        </div>
        <br>

      </span class="indexDescription">
      {{#each lang.indexDescription}}
      <span>{{this}}</span> <br>
      {{/each}}


    </div>


  </div>
  {{!-- R --}}
  <div class="upRight col-lg-3 div-fluid">
    {{!-- 因為已經use public 所以不用加上/pub --}}
    <img class="col-md-12 w-100" src="/images/mewtwo.png" alt="">
    {{!-- <span>超夢照片</span> --}}
    {{!-- 用了d-flex 才能讓a元件內的文字志中 --}}
    <a href="/accounts"
      class="col-md-12 btn btn-outline-warning d-inline-flex align-items-center justify-content-center">{{lang.indexBrowseButton}}</a>
  </div>

</div>

{{!-- MIDDLE display demo account --}}
<div class="middle-container d-flex">

</div>
{{!-- demo account display --}}

{{!-- Down --}}
{{!-- payment --}}
{{!-- nonsense --}}