{{!-- checkbox class/team/maybe price --}}
{{!-- search area pop page search or window --}}

{{!-- display accts area --}}
{{!-- tier --}}
<div class="classes">
  {{!-- high-class --}}
  <div class="small-margin-top">
    <div id="high-box">

      <div class="info-explain mx-auto my-3 col-12 col-lg-8">
        <div class="text-center">
          <img class="img-fluid" width="36px" src="/images/PokeTeams/yet.png" alt="">
        </div>
        <div class="accountsSlogan text-center mt-2">
          {{#each lang.accountsInfo1}}
          <span>{{this}}</span><br>
          {{/each}}
        </div>
        <br>
        <div class="accountsInfo2 text-left ">
          {{#each lang.accountsInfo2}}
          <span>{{this}}</span><br>
          {{/each}}
        </div>
      </div>

      <div class=" col-12  d-flex justify-content-center">
        {{!-- filter --}}
        <div class="accountsFilterSort text-center me-5">

          <button type="button" class="accountsFilter btn btn-secondary  btn-sm btn-rounded" data-bs-toggle="modal"
            data-bs-target="#searchModal">

            <img src="/images/someIcon/search.png" style="transform: scale(1);" alt="search button">
            {{lang.accountsFilter}}
          </button>

          {{!-- sort --}}
          <div class="btn-group ms-5">
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/accounts/sort?sort=Price-low-to-high">Price low to high</a></li>
              <li><a class="dropdown-item" href="/accounts/sort?sort=Price-high-to-low">Price high to low</a></li>
            </ul>
            <button class="accountsSort btn btn-secondary btn-sm dropdown-toggle mb-1" style="transform: scale(1);"
              type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{lang.accountSort}}
            </button>

          </div>

        </div>







      </div>

      <div class="row align-items-center justify-content-center mx-auto">

        {{!-- left load more --}}
        {{!-- <button class=" btn-left col-1  " tier="3" type="a" aria-label="Load More">
          <i class="fa fa-angle-double-left fa-fw" aria-hidden="true"></i>
        </button> --}}
        {{!-- 不知道為什麼他要分兩個寫，先留著 right也有 但為了方便閱讀 先刪掉
        https://pokegoaccount.com/ 之後有需要再來抄 --}}



        {{!-- middle MAIN accts display --}}
        {{!-- 如果你想要確保在所有螢幕大小上都保持相同的佈局，可以使用 col-4。如果你想在不同大小的螢幕上呈現不同的佈局，可以使用 col-md-4。 --}}
        <div class="accounts col-10 mt-3 row mx-auto">

          {{!-- bs 是 mobile優先 所以col-12會設定所有設備
          包含電腦和手機
          為了讓電腦正常顯示 用col-lg-3維持原本的三張card --}}



          {{!-- 每一個account --}}
          {{#each accounts}}
          {{!-- {{this.}} --}}

          <div class="account pad mb-3 col-lg-4 col-12 card text-center mx-1">
            <div class="acct-up card-header">
              <div class="card-info row">
                {{!-- team --}}
                {{!-- <span>db ID {{this.id}}</span> --}}
                <div class="team-info col-3">
                  <img class="img-fluid" src="/images/PokeTeams/{{this.team}}.png" alt="">
                  {{#ifCond this.team "yet"}}
                  {{!-- {{#each}}內的任何引用都要注意 階層 --}}
                  <span class="tooltip">{{ ../ lang.accountsTeamInfo}}</span>
                  {{/ifCond}}

                </div>
                {{!-- Level & Stardust --}}
                <div class="card-text levelStardust col-6 mx-auto">
                  <div class="d-flex justify-content-between">
                    <span class="accountLevel">{{../lang.accountsLevel}}: {{this.level}}</span> <br>
                  </div>
                  <div class="d-flex justify-content-between">
                    <span class="accountStardust">{{../lang.accountsStardust}}: {{this.stardust}}</span> <br>
                  </div>
                  <div class="d-flex justify-content-between">
                    <span class="accountStardustUnit">{{../lang.accountsUnit}}</span>
                  </div>
                </div>
                {{!-- price & acct_id --}}
                {{!-- align-items-center justify-content-center --}}
                <div class="card-text priceAccountId col-3 d-flex flex-column justify-content-between  ">
                  <span class="accountPrice px-0 py-0 align-self-center">$ {{this.price}} </span>
                  <span class="accountPrice px-0 py-0 align-self-center"> NT</span><br>
                  {{!-- 這的 this.id 是給 element.scrollIntoView 使用的 --}}
                  {{!-- accountId 是 y01那種id --}}
                  <span class="accountId ml-auto align-self-end" id="id-{{this.id}}">
                    #{{this.accountId}}
                    {{!-- #{{this.id}} --}}
                  </span>
                </div>

              </div>
            </div>

            <div class="card-header switchHeader ">
              <ul class="nav nav-tabs card-header-tabs row my-auto">
                <li class="nav-item col-6 ">
                  <div class="d-flex justify-content-between ">
                    <a class="nav-link active" aria-current="true" href="">IV100 Pokemons </a>


                  </div>
                </li>
                <li class="nav-item col-6 ">
                  <div class="d-flex justify-content-center align-items-center">
                    <a class="nav-link " href="/accounts/{{this.id}}">Legend Pokemons</a>
                  </div>
                </li>
              </ul>
            </div>
            <div class="acct-mid card-body">

              {{!-- row 1 --}}
              <div class="row mb-3">
                <div class="col-4">
                  <img class="card-img" src="/images/PokemonDataset/{{lookup this.contentsIv100Array 0}}.png" alt="">
                </div>
                <div class="col-4">
                  <img class="card-img" src="/images/PokemonDataset/{{lookup this.contentsIv100Array 1}}.png" alt="">
                </div>
                <div class="col-4">
                  <img class="card-img" src="/images/PokemonDataset/{{lookup this.contentsIv100Array 2}}.png" alt="">
                </div>
              </div>

              {{!-- row 2 --}}
              <div class="row mb-3">
                <div class="col-4">
                  <img class="card-img" src="/images/PokemonDataset/{{lookup this.contentsIv100Array 3}}.png" alt="">
                </div>
                <div class="col-4">
                  <img class="card-img" src="/images/PokemonDataset/{{lookup this.contentsIv100Array 4}}.png" alt="">
                </div>
                <div class="col-4">
                  <img class="card-img" src="/images/PokemonDataset/{{lookup this.contentsIv100Array 5}}.png" alt="">
                </div>
              </div>

              {{!-- row 3 --}}
              <div class="row mb-3">
                <div class="col-4">
                  <img class="card-img" src="/images/PokemonDataset/{{lookup this.contentsIv100Array 6}}.png" alt="">
                </div>
                <div class="col-4">
                  <img class="card-img" src="/images/PokemonDataset/{{lookup this.contentsIv100Array 7}}.png" alt="">
                </div>
                <div class="col-4">
                  <img class="card-img" src="/images/PokemonDataset/{{lookup this.contentsIv100Array 8}}.png" alt="">
                </div>
              </div>

            </div>
            <div class="acct-down card-footer row">

              <div class="detail border col-6   accountDetail d-inline-flex align-items-center ">
                {{!-- text-decoration-none 去掉button底線 --}}
                {{!-- 因為在eahc迴圈內 若要調用res.locals要../跳出回圈 --}}
                <a href="/accounts/{{this.id}}" class=" text-light text-decoration-none"><img class="me-2"
                    src="/images/someIcon/eye.png" alt="">{{../lang.accountsDetail}}</a>
              </div>

              <div class="addToCart border accountAddToCart col-6 d-inline-flex align-items-center  ">

                {{#if this.isAddedToCart}}
                <form action="/cart/{{this.id}}?_method=delete" class="" method="post">
                  {{!-- add to cart --}}
                  <img class="col-4 cart-img" src="/images/someIcon/cart.png" alt="">
                  <button class="addToCartButton bg-dark" type="submit">{{../lang.accountsCartCancel}}</button>
                </form>
                {{else}}
                <form action="/cart/{{this.id}}" class="" method="post">
                  {{!-- add to cart --}}
                  <img class="col-4 cart-img" src="/images/someIcon/cart.png" alt="">
                  <button class="addToCartButton bg-warning" type="submit">{{../lang.accountsCartAdd}}</button>


                </form>
                {{/if}}

              </div>
            </div>


          </div>
          {{/each}}


        </div>


        {{!-- right load more --}}
        {{!-- <button class="topaz-bg btn-right col-1" tier="3" type="a" aria-label="Load More" style=""><i
            class="fa fa-angle-double-right fa-fw" aria-hidden="true"></i></button> --}}
      </div>


    </div>
  </div>

  {{!-- medium-calss --}}

  {{!-- basic-class --}}
</div>